h1
{
    font-size: 20px;
    position: absolute;
    top: 46px;
    right: 223px;
    font-weight: 700;
    color: #9e9e9e;
}
#ip{
    padding-left: 40px;
    position: absolute;
    top: 88px;
    left: 24px;
    width: 350px;  
    outline:none;
    

}
textarea{
    top: 149px;
    right: 126px;
    position: absolute;
    height: 135px;
    width:350px;
    outline:none;
    padding-left: 33px;
    padding-top: 5px;
    color:#808080;
    border-radius: 3px;
    border: 1px solid #9e9e9e69;
}
#btn{
    width: 136px;
    height: 45px;
    position: absolute;
    top: 306px;
    right: 339px;
    padding-right: 35px;
    font-size: 17px;
    background-color:#558ff2;
    border:none;
    outline:none;
}
Form{
    position: relative;
    height: 500px;
    width: 500px;
}
#img{
    width: 25px;
    height: 25px;
    left: 33px;
    position: absolute;
    top: 94px;
}
#icon2
{
    position: absolute;
    top: 316px;
    font-size: 29px;
    right: 353px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color:white;
}
#icon1
{
    position: absolute;
    z-index: 1;
    top: 159px;
    right: 448px;
    font-size: 18px;
    color:#808080;
}
#img2
{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 22px;
    left: 16px;
}
/* .card
{
    position: absolute;
    bottom: 0;
    top: 91px;
    width: 798px;
    left:444px;
    padding-left: 25px;
    height: 108px;
}  */
#comh1
{
    position: absolute;
    right: 676px;
    top: 50px;
    font-size: 31px;
}
/* .card-title
{
    top: 30px;
    position: absolute;
    left: 93px;
}
.card-subtitle
{
    position: absolute;
    left: 666px;
    top: 35px;
}
.card-text
{
    left: 97px;
    position: absolute;
    top: 58px;
} */
span{
    color: white;
   
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: green;
    
    position:absolute;
    top: 30px;
    right:840px;
    border-radius: 10px;
    font-size: 22px;
    font-weight:700;
}
#commt
{
    height: 1000px;
}
#ul{
    height:2000px;
}

